body{
    background: hsl(218, 23%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    font-family: "Manrope", sans-serif;
}
.card{
    border-radius: 10px;
    background-color: hsl(217, 19%, 24%);
    width: 300px;
    padding: 10px;
}
.number{
    color: hsl(150, 100%, 66%);
    letter-spacing: 0.2rem;
    font-size: 12px;
}
.advice{
    color: hsl(193, 38%, 86%);
    font-weight: 800;
    font-size: 14px;
    padding: 0px 30px;
}
.divider-line > img{
    width: 250px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.dice-button{
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -5px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.dice-button img{
    width: 70%;
}
.dice-button:hover{
    box-shadow: 0 0 7px 5px hsl(150, 100%, 66%);          
}
@media only screen and (max-width: 375px){
    .card{
        width: 280px;
        height: 240px;
    }
    .advice{
        font-size: 20px;
        padding: 0px 30px;
    }
    .divider-line > img {
        content: url('https://raw.githubusercontent.com/ydctnr/Advice-Generator-App/36570cf194a2d5bf3e26257981e13325ef16d7ee/images/pattern-divider-mobile.svg');
    }
    .dice-button{
        width: 50px;
        height: 50px;
    }
}